@import "../SCSS/library";
@import "../SCSS/main-styles";
@import "../SCSS/header-white";
@import "../SCSS/footer";
@import "../SCSS/slider";
.about {
	max-width: 1360px;
	margin: 0 auto;
	&__cards {
		display: grid;
		grid-template-columns: 3fr 1fr;
		column-gap: 30px;
	}

	&__heading {
		margin: 0 0 30px;
		&--gap {
			padding-left: 30px;
			margin: 0;
		}
	}

	&__paragraph {
		max-width: 942px;
		@include paragraph;
		margin: 0;
	}

	&__card--bordered {
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding-left: 30px;
		border-left: 4px solid $gray-separator;
	}
}

.quality {
	display: flex;
	flex-direction: column;
	gap: 10px;
	&__experience {
		display: flex;
		gap: 12px;
		align-items: baseline;
	}
	&__amount {
		@include font-text(36px, 44px, $bold, null);
		@include red-text;
	}
	&__description {
		color: $dark-blue;
	}
}

.main {
	&__image {
		max-width: 1920px;
		margin: 60px auto;
		height: 584px;
		background-image: url(../../Assets/Images/About/Team.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
		&-text {
			text-transform: uppercase;
			@include font-text(96px, 117px, $bold, white);
			letter-spacing: 63px;
			opacity: 0.8;
			text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
		}
	}
}
.slick-dots {
	margin: 0;
}

.achievements {
	text-align: center;
	margin: 60px 0 0;
	padding: 30px 0 0;

	&__heading {
		@include h3-caps;
		color: $dark-blue;
		margin: 0;
	}

	& .achievements__logoes {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}

	&__logo {
		flex: 1 1 20%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
		border-radius: 12px;
		margin: 30px 0;
	}
	& .achievements__image-mobile {
		display: none;
	}
}

.slider--mobile {
	display: none;
}

.devider-small {
	height: 2px;
	border: none;
	margin: 30px 0 0;
	background-color: $gray-separator;
}

@media screen and (max-width: $xxlarge-down) {
	.about {
		margin: 0 180px;

		&__cards {
			grid-template-columns: 2fr 1fr;
		}
	}

	.main__image {
		height: 438px;
	}
}

@media screen and (max-width: $xlarge-down) {
	.about {
		margin: 0 60px;

		&__cards {
			grid-template-columns: 1fr 1fr;
		}
	}

	.main__image {
		height: 311px;
		&-text {
			font-size: 86px;
			line-height: 105px;
		}
	}
}

@media screen and (max-width: $large-down) {
	.about {
		&__cards {
			grid-template-columns: 1fr;
			row-gap: 30px;
		}
	}

	.main__image {
		height: 233px;
		&-text {
			font-size: 46px;
			line-height: 56px;
		}
	}

	.achievements {
		&__logo {
			height: 90px;
		}
		& .achievements__image-mobile {
			display: inline-block;
		}
		& .achievements__image-desctop {
			display: none;
		}
	}
}

@media screen and (max-width: $medium-down) {
	.about {
		margin: 30px 30px 0;
		&__heading {
			@include h2;
		}
	}
	.main__image {
		height: 114px;
		&-text {
			font-size: 36px;
			line-height: 44px;
			letter-spacing: 13px;
		}
	}
	.achievements {
		margin: 60px 60px 0;
	}

	.slider--mobile {
		display: contents;
	}

	.slider--desctop {
		display: none;
	}
}
