@import "../SCSS/library";
@import "../SCSS/main-styles";
@import "../SCSS/header-white";
@import "../SCSS/footer";
@import "../SCSS/publications-parth";

.publications{
    text-align: center;
    &__cards{
        margin: 30px 0;
    }
    &__box{
        margin: 0 auto;
        width: 228px;
        background-color: $gray-separator;
        border: 1px solid $gray-separator;
        border-radius: 12px;
        display: flex;
        font-family: $bold;
        color: $dark-blue;
        cursor: pointer;
        &-item{
            padding: 10px 30px;
        }
        &-item--color{
            background-color: white;
            border-radius: 12px
        }
        &-item--hover:hover{
            background-color: $gray-bg;
            border-radius: 12px;
        }
    }

}

.button{
    @include button;
}

.devider-small{
    margin: 60px 0 0;
}



@media screen and(max-width: $large-down) {
    .publications{
        &__card{
            flex-basis: 45%;
        }
    }
}

